<div class="contact">
  <h2>Contact</h2>
  <ul>
    <li>National Institute of Biomedical Genomics</li>
    <li>P.O.: N.S.S., Kalyani 741251, West-Bengal, INDIA</li>
    <li><span class="li-icon">{% include svg/phone.svg %}</span><span>+91-8017586933</span></li>
    <li><span class="li-icon">{% include svg/mail.svg %}</span><a href="mailto:jagyashiladas22@gmail.com">jagyashiladas22@gmail.com</a></li>
    <li><span class="li-icon">{% include svg/mail.svg %}</span><a href="mailto:jd1@nibmg.ac.in">jd1@nibmg.ac.in</a></li>
    <li><span class="li-icon">{% include svg/internet.svg %}</span><a href="https://jagyashila.github.io">https://jagyashila.github.io</a></li>
  </ul>
</div>
